/*CSS Reset / Normalize*/
/*JÃ¡ deixaremos o bÃ¡sico de reset de estilos. Caso queira adicionar mais informaÃ§Ãµes
coloque nas sessÃµes indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variÃ¡veis, Ã© uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    line-height: 1;
}

html {
    scroll-behavior: smooth;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}
